<div id="page-content">

  <div id="blog-posts" class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 mt-5">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h2 class="card-title"><%= @article.title %></h2>
            <h6 class="card-date font-italic"><%= @article.created_at.strftime("%B %d, %Y") %></h6>
            <% if @article.categories.any? %>
              <%= render @article.categories %>
            <% end %>
            <hr>
            <% @article.description.split('new_line').each do |line| %>
              <p class="card-full-text text-left"><%= line %></p>
              <p>

              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>