<div id="page-content">
  <div id="about-card-parent" class="container text-center mt-5 mb-5">
    <div id="about-card" class="card">
      <h2 class="display-3 text-center mt-3 mb-2">About</h2>
      <hr class="short-hr mb-2" style="width:120px; margin: auto;">
      <br>
      <div class="img-about-container">
        <img src="about.jpg" alt="" class="img-about rounded mx-auto d-block shadow mb-5 bg-white rounded">
      </div>  
      <p>

      </p>
      <div id="about-container" class="container text-left">
        <h3 id="about-sub-header">About Me in 150 Words</h3>
        <p>
          Hello, my name is Jena Alsup and I am a high school senior from the Bay
          Area. Ever since I was little, I have always cared about preserving our
          environment but was unsatisfied over the small impact I could make on the
          world as an individual. I recycled when I could, walked instead of drove, and
          did countless other small tasks, but it did not feel like enough.

        </p>
        <p>
          In July of 2018, I made the decision to adopt a plant based diet with
          sustainability and health in mind. Since then, I have worked to reduce
          my carbon footprint as much as possible.

        </p>
        <p>
          In my free time I like to read historical fiction novels, experiment with new
          recipes, go on long hikes, and learn new programming languages. I started
          this blog to document my journey and share my passion for sustainability and
          veganism with others. I hope you enjoy my writing.

        </p>
        <br>
      </div>
    </div>
  </div>
</div>