<div id="page-content"></div>
<h2 class="display-3 text-center">About</h2>
<div class="text-center">
  <img src="about.jpg" alt="image" class="img-thumbnail rounded mx-auto d-block">
</div>  
<p>

</p>
<div class="container">
  <p>
    Hello, my name is Jena and I am a rising high school junior in the bay area. 
    Ever since I was little, I have always cared about preserving our environment 
    but was unsatisfied over the small impact I could make on the world as an
    individual. In July of 2018, I made the decision to adopt a plant based diet 
    with sustainability and health motives. I have started this blog to document my 
    journey and share my passion for sustainability and veganism with others.
  </p>
</div>

<footer id="sticky-footer" class="py-4 bg-white text-black">
  <div class="container text-center">
    <small>Copyright &copy; 2020 Plant Based Teen</small>
  </div>
</footer>