<div id="page-content">
  <div id="contact-card-parent" class="text-center mt-5 mb-5">
    <div id="contact-card" class="card text-center">
      <h2 id="get-in-touch" class="display-3 text-center mb-3">Get in touch!</h2>
      <hr class="short-hr" style="width:120px; margin: auto;">

      <div id="contactme" class="container mt-3">
        <p class="display-6 text-left mb-3">
          Hi there! Have any questions or
          would like to collaborate? 
          I'm part of Gen Z so I don't 
          use snail mail... Feel free to
          email me directly at 
          jena.alsup[at]gmail.com.
        </p>
      </div>
    </div>
  </div>
</div>