<div id="page-content">
  <div id="about-card-parent" class="container text-center mt-5 mb-5">
    <div id="about-card" class="card">
      <p>

      </p>
      <h3 class="display-4 text-center mt-3 mb-2">Contribute to PBT</h3>
      <hr class="short-hr mb-2" style="width:120px; margin: auto;">
      <br> 

      <div id="about-container" class="container text-left">
        <p>
          Interested in being a guest writer for Plant Based Teen? Whether you just 
          learned about the climate crisis or have been vegan your entire life, contributing 
          to Plant Based Teen is a great way to share your thoughts with a like-minded 
          community focused on sustainability. You don't have to be either vegan or 
          minimalist to contribute; an interest in sustainability can manifest in many 
          diverse ways. 

        </p>
        <p>
            I encourage you to use this opportunity to reflect on your past experiences 
            and think about how you were affected and what advice you would like to pass 
            on to others. Please also refrain from including demeaning, discriminating, 
            or harassing language of any kind. Other than that, guest writing pieces do 
            not have many guidelines since I want you to have creative freedom to express 
            your own story. Some ideas are an anecdote of a conversation, event, or special 
            moment in your life. This may be narrated as a memoir, poem, or any other form 
            of writing that excites you. If you need some inspiration, feel free to check 
            out my story of becoming vegan here: http://www.plantbasedteen.com/articles/2. 
            You may also look through past guest writing contributions here: 
            http://www.plantbasedteen.com/guestarticles.

        </p>
        <p>
            If you are interested in writing, please fill out this google form. Email me 
            at plantbasedteen.blog@gmail.com with any questions.

        </p>
        <p>
          I look forward to reading your responses!
        </p>
        <br>
      </div>
    </div>
  </div>
</div>