<div id="page-content">
  <div class="box">
    <div class="jumbotron text-center text-black">
      <div id="home-text">
        <h1>Plant Based Teen</h1>
        <h5>Welcome to my life as a vegan teenager!</h5>
        <hr>
        <%= link_to "Subscribe", "https://docs.google.com/forms/d/e/1FAIpQLScLRSWgA8twyK_1LZSpHYUdl4CyAmBbyn2Yh7DHkeec_YRD0Q/viewform", class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>