<div id="page-content">
  <div class="box">
    <div class="jumbotron text-center text-black">
      <div id="home-text">
        <h1>Plant Based Teen</h1>
        <h5>Welcome to my life as a vegan teenager!</h5>
        <hr>
        <%= link_to "Blog", articles_path, class: "btn btn-light btn-lg" %>
      </div>
    </div>
  </div>
</div>