.img-about {
  background-image: asset-url('about.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
}

#about-card-parent {
  padding-left: calc(25px + 2vmax);
  padding-right: calc(25px + 2vmax);
  width: 3000px;
  margin: auto;
}

#about-card {
  align-items: center;
}

#about-container {
  font-size: 0.8em;
  width: 3000px;
  padding-right: 15vw;
}

#about-sub-header {
  font-family: 'Volkron', serif;
  font-size: 1.5em;
}
