.btn-light {
  width: 150px;
}

.card-title {
  margin-top: 20px;
  font: 1.3em;
}

.card-footer {
  font-size: 0.8em;
}

#blog-posts {
  padding-left: calc(20px + 2vmax);
  padding-right: calc(20px + 2vmax);
  width: 3000px;
  margin: auto;
}

#articles-show-card {
  align-items: center;
}

#tag-cards {
  margin-right: 250px;
  margin-left: 250px;

}

.card-text {
  font-size: 0.8em;
}

.card-full-text {
  font-size: 0.9em;
  font-family: 'Arial', 'Karma';
  line-height: 35px;
  margin-top: 15px;
}

.card-date {
  margin-top: -7px;
  color:#707070;
  margin-bottom: 20px;
}

.short-hr {
  background-color:#787878;
}

