.btn-light {
  width: 150px;
}

#blog-posts {
  width: 1000px;
}

.card-title {
  margin-top: 20px;
}

.card-footer {
  font-size: 0.8em;
}

#tag-cards {
  margin-right: 10vw;
  margin-left: 10vw;
}

.card-text {
  font-size: 0.8em;
}

.card-full-text {
  font-size: 0.9em;
  font-family: 'Arial', 'Karma';
  line-height: 35px;
  margin-top: 15px;
}

.card-date {
  margin-top: -7px;
  color:#707070;
  margin-bottom: 20px;
}

.short-hr {
  background-color:#787878;
}

