#contact-card-parent {
  width: 80vw;
  margin: auto;
}

#contact-card {
  margin: auto;
  width: 80vw;
  align-items: center;
}

#get-in-touch {
  margin-top: 100px;
}

#contactme {
  margin-top: 100px;
  margin-bottom: 100px;
}

.display-6 {
  width: 50vw;
  text-align: center;
}