@import 'bootstrap/dist/css/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import 'navigation.css.scss', 'home.css.scss', 'about.css.scss', 'contact.css.scss';

#page-content {
  flex: 1 0 auto;
  background-color:#f0f0f0;
}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 800px;
  font-size: 1.5em;
}

h1, h2, h4, h5, h6 {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

h1 {
  font-size: calc(50px + 2vh + 1vw);
}

h2 {
  font-size: calc(30px + 2vh + 1vw);
}

html,
body {
  height: 100%;
  font-family: 'Prata', 'Karma';
}

#sticky-footer {
  flex-shrink: none;
  font-size: 1em;
}