@import 'bootstrap/dist/css/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

#page-content {
  flex: 1 0 auto;
  background-color:#f0f0f0;
}

.navbar {
  background-color: #fff;
}

.nav-link {
  color: #000;
  font-size: 1.5em;
}

#logo {
  float:left; 
  font-size: 2em;
  color: #000;
  text-transform: lowercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(375px + 10vmin);
  margin-top: auto;
  margin-bottom: auto
}

.img-about {
  background-image: asset-url('about.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vmax;
}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  width: 800px;
  font-size: 1.5em;
}

.btn-light {
  width: 150px;
}

html,
body {
  height: 100%;
  font-family: 'Prata', 'Karma';
}


#sticky-footer {
  flex-shrink: none;
  font-size: 1em;
}

#get-in-touch {
  margin-top: 100px;
}

#contactme {
  margin-bottom: 100px;
  padding-left: calc(105px + 2vmin);
  padding-right: calc(100px + 2vmin);
  width: calc(200px + 50vmax);
  font-size: 1.3em;
}

#blog-posts {
  width: 1000px;
}

.card-title {
  margin-top: 20px;
}

.card-footer {
  font-size: 0.8em;
}

#tag-cards {
  margin-right: 250px;
  margin-left: 250px;

}

.card-text {
  font-size: 0.8em;
}

.card-full-text {
  font-size: 0.9em;
  font-family: 'Arial', 'Karma';
  line-height: 35px;
  margin-top: 15px;
}

.card-date {
  margin-top: -7px;
  color:#707070;
  margin-bottom: 20px;
}

#about-sub-header {
  font-family: 'Volkron', serif;
  font-size: 1.5em;
}

.short-hr {
  background-color:#787878;
}

#about-card-parent {
  padding-left: calc(25px + 2vmax);
  padding-right: calc(25px + 2vmax);
  width: 3000px;
  margin: auto;
}

#about-container {
  font-size: 0.8em;
  width: 3000px;
}
