.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.jumbotron {
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(400px + 2vh + 1vw);
  height: 100vh;
  width: 100vw;
}

#home-text {
  margin-top: 25vh;
}

.btn-light {
  width: 100px;
}
