<div id="page-content">
  <h2 class="text-center mt-3">Tags</h2>

  <div id="blog-posts" class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 mt-3">
        <div id="tag-cards" class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <% i = 0 %>
            <% @categories.each do |category| %>
              <% if i == 0 %>
                <%= link_to category.name, category_path(category), class: "btn btn-outline-secondary" %>
                <% i = i + 1 %>                
              <% else %>
                <hr>
                <%= link_to category.name, category_path(category), class: "btn btn-outline-secondary" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>